.exp{
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #003366;
}
.image1{
    max-width: 100%;
    max-height: 100%;
    
    
}

.btnfind{
    text-align: center;
}

.find{
    margin-top: 30px;
    margin-bottom: 50px;
    /* margin-left: 42%; */
    background-color: #003366;
    border-radius: 0px;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    font-weight: lighter;
}
.find:hover{
    background-color: #02284b;
}
.ayurveda{
    position: obsolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    text-align: center;
}
